<footer>
    <div class="links">
        <a class="social" href="mailto:sahinonur2000@hotmail.com">
            <img src="/icons/mail.svg"/>
        </a>
        <a class="social" href="https://www.linkedin.com/in/onur-%C5%9Fahin-70581a155/">
            <img src="/icons/linkedin.svg"/>
        </a>
        <a class="social" href="https://github.com/onsah/">
            <img src="/icons/github.svg"/>
        </a>
        <a class="social" href="https://mastodon.social/@aiono">
            <img src="/icons/mastodon.svg"/>
        </a>
        <a class="social" href="/feed.xml">
            <img src="/icons/rss.svg"/>
        </a>
    </div>
    <p>
        © Copyright 2026 Onur Şahin.
        Powered by <a href="https://github.com/onsah/website">my custom static site generator</a> and styled by <a href="https://simplecss.org/">Simple CSS</a>.
    </p>
</footer>