<header>
    <nav>
        <h3 class="title"><a href="/index.html">Aiono</a></h3>
        <a class="social" href="mailto:sahinonur2000@hotmail.com">
            <img src="/icons/mail.svg"/>
        </a>
        <a class="social" href="https://www.linkedin.com/in/onur-%C5%9Fahin-70581a155/">
            <img src="/icons/linkedin.svg"/>
        </a>
        <a class="social" href="https://github.com/onsah/">
            <img src="/icons/github.svg"/>
        </a>
        <a class="social" href="https://mastodon.social/@aiono">
            <img src="/icons/mastodon.svg"/>
        </a>
        <a class="social" href="/feed.xml">
            <img src="/icons/rss.svg"/>
        </a>
        <div class="fill"></div>
        <div class="links">
            <a id="blog" href="/blog.html">Blog</a>
            <!-- <a>CV</a> -->
        </div>
    </nav>
</header>